<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	  package="itu.malta.drunkendroid"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/appName" android:debuggable="true">
    	<uses-library android:name="com.google.android.maps" />
        <activity android:name=".ui.activities.MainActivity"
                  android:label="@string/appName">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.MoodMapActivity"
                  android:label="@string/activity_mood_map">
            <intent-filter>
                <action android:name="VIEW_MAP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.AppSettingsActivity" 
        	      android:label="@string/activity_app_settings"
        	      android:theme="@style/BrightTheme">
        	<intent-filter>
        		<action android:name="VIEW_SETTINGS" />
        		<category android:name="android.intent.category.DEFAULT"></category>
        	</intent-filter>
        </activity>
        <activity android:name=".ui.activities.ConfirmLocationActivity" android:theme="@style/Dialog_No_Title">
        	<intent-filter>
        		<action android:name="CONFIRM_LOCATION" />
        		<category android:name="android.intent.category.DEFAULT"></category>
        	</intent-filter>
        </activity>
        <service android:name=".control.services.DrunkenService" />
    </application>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SMS_RECEIVED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-persmision android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-sdk android:minSdkVersion="4" />
</manifest> 