<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="itu.malta.drunkendroid"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/appName">
    	<uses-library android:name="com.google.android.maps" />
    	<uses-permission android:name="android.permission.INTERNET" />
        <activity android:name=".ui.MainActivity"
                  android:label="@string/activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.map.MoodMapActivity"
                  android:label="@string/activity_mood_map">
            <intent-filter>
                <action android:name=".VIEW_MAP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.AppSettingsActivity" android:label="@string/activity_app_settings">
        	<intent-filter>
        		<action android:name=".ui.VIEW_SETTINGS"></action>
        		<category android:name="android.intent.category.DEFAULT"></category>
        	</intent-filter>
        </activity>
    </application>
    <uses-sdk android:minSdkVersion="4" />
</manifest> 