<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="itu.malta.drunkendroid"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    
    	<uses-library android:name="com.google.android.maps" />
    
        <activity android:name=".Menu"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="itu.malta.drunkendroid.ui.AppSettings" android:label="@string/view_appsettings">
        	<intent-filter>
        		<action android:name="itu.malta.drunkendroid.VIEW_SETTINGS"></action>
        		<category android:name="android.intent.category.DEFAULT"></category>
        	</intent-filter>
        </activity>
        
        <uses-permission android:name="android.permission.INTERNET" />


    </application>
    <uses-sdk android:minSdkVersion="4" />

</manifest> 